<a href="https://colab.research.google.com/github/harshjindal97/machinelearing/blob/main/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
import pandas as pd
import numpy as np
from sklearn.datasets import fetch_openml

In [18]:
 df = fetch_openml('titanic', version=1 ,as_frame=True )['data']

/usr/local/lib/python3.10/dist-packages/sklearn/datasets/_openml.py:968: FutureWarning: The default value of `parser` will change from `'liac-arff'` to `'auto'` in 1.4. You can set `parser='auto'` to silence this warning. Therefore, an `ImportError` will be raised from 1.4 if the dataset is dense and pandas is not installed. Note that the pandas parser may return different data types. See the Notes Section in fetch_openml's API doc for details.
  warn(

In [19]:
df.isnull().sum()

pclass          0
name            0
sex             0
age           263
sibsp           0
parch           0
ticket          0
fare            1
cabin        1014
embarked        2
boat          823
body         1188
home.dest     564
dtype: int64

In [20]:
df

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,None,"St Louis, MO"
1,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,None,NaN,"Montreal, PQ / Chesterville, ON"
3,1.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,None,135.0,"Montreal, PQ / Chesterville, ON"
4,1.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,None,NaN,"Montreal, PQ / Chesterville, ON"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3.0,"Zabour, Miss. Hileni",female,14.5000,1.0,0.0,2665,14.4542,None,C,None,328.0,None
1305,3.0,"Zabour, Miss. Thamine",female,NaN,1.0,0.0,2665,14.4542,None,C,None,NaN,None
1306,3.0,"Zakarian, Mr. Mapriededer",male,26.5000,0.0,0.0,2656,7.2250,None,C,None,304.0,None
1307,3.0,"Zakarian, Mr. Ortin",male,27.0000,0.0,0.0,2670,7.2250,None,C,None,NaN,None
1308,3.0,"Zimmerman, Mr. Leo",male,29.0000,0.0,0.0,315082,7.8750,None,S,None,NaN,None

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     1309 non-null   float64
 1   name       1309 non-null   object
 2   sex        1309 non-null   category
 3   age        1046 non-null   float64
 4   sibsp      1309 non-null   float64
 5   parch      1309 non-null   float64
 6   ticket     1309 non-null   object
 7   fare       1308 non-null   float64
 8   cabin      295 non-null    object
 9   embarked   1307 non-null   category
 10  boat       486 non-null    object
 11  body       121 non-null    object
 12  home.dest  745 non-null    object
dtypes: category(2), float64(5), object(6)
memory usage: 115.4+ KB

In [22]:
pd.DataFrame((df.isnull().sum()/len(df))*100)

                   0
pclass      0.000000
name        0.000000
sex         0.000000
age        20.091673
sibsp       0.000000
parch       0.000000
ticket      0.000000
fare        0.076394
cabin      77.463713
embarked    0.152788
boat       62.872422
body       90.756303
home.dest  43.086325

In [23]:
df.drop(['body'] , axis = 1 , inplace = True)

In [24]:
df['cabin']

0            B5
1       C22 C26
2       C22 C26
3       C22 C26
4       C22 C26
         ...
1304       None
1305       None
1306       None
1307       None
1308       None
Name: cabin, Length: 1309, dtype: object

In [25]:
from sklearn.impute import SimpleImputer

In [26]:
print(df['cabin'].shape)

(1309,)

In [27]:
df['cabin'].isnull().sum()
print(df['cabin'])

0            B5
1       C22 C26
2       C22 C26
3       C22 C26
4       C22 C26
         ...
1304       None
1305       None
1306       None
1307       None
1308       None
Name: cabin, Length: 1309, dtype: object

In [28]:
def get_param(df):
  param = {}
  for i in df.columns[df.isnull().any()]:
    if df[i].dtype == 'float64' or df[i].dtype == 'int32' or df[i].dtype == 'int64':
      strategy = 'mean'
    else:
      strategy = 'most_frequent'

    missing_value = df[i][df[i].isnull()].values[0]
    param[i] = {'missing_value':missing_value , 'strategy':strategy}
  return param
get_param(df)

{'age': {'missing_value': nan, 'strategy': 'mean'},
 'fare': {'missing_value': nan, 'strategy': 'mean'},
 'cabin': {'missing_value': None, 'strategy': 'most_frequent'},
 'embarked': {'missing_value': nan, 'strategy': 'most_frequent'},
 'boat': {'missing_value': None, 'strategy': 'most_frequent'},
 'home.dest': {'missing_value': None, 'strategy': 'most_frequent'}}

In [29]:
parameters = get_param(df);
for col , param in parameters.items():
  print(col)

age
fare
cabin
embarked
boat
home.dest

In [30]:
for col , param in parameters.items():
  missing_values = param['missing_value']
  # print(param['strategy'])
  strategy = param['strategy']
  imp = SimpleImputer( missing_values = missing_values , strategy=strategy)
  A = pd.DataFrame()
  A = imp.fit_transform(df[[col]].values)
  A = pd.DataFrame(A)
  df[col] = A

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     1309 non-null   float64
 1   name       1309 non-null   object
 2   sex        1309 non-null   category
 3   age        1309 non-null   float64
 4   sibsp      1309 non-null   float64
 5   parch      1309 non-null   float64
 6   ticket     1309 non-null   object
 7   fare       1309 non-null   float64
 8   cabin      1309 non-null   object
 9   embarked   1309 non-null   object
 10  boat       1309 non-null   object
 11  home.dest  1309 non-null   object
dtypes: category(1), float64(5), object(6)
memory usage: 114.0+ KB

In [32]:
df

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,home.dest
0,1.0,"Allen, Miss. Elisabeth Walton",female,29.000000,0.0,0.0,24160,211.3375,B5,S,2,"St Louis, MO"
1,1.0,"Allison, Master. Hudson Trevor",male,0.916700,1.0,2.0,113781,151.5500,C22 C26,S,11,"Montreal, PQ / Chesterville, ON"
2,1.0,"Allison, Miss. Helen Loraine",female,2.000000,1.0,2.0,113781,151.5500,C22 C26,S,13,"Montreal, PQ / Chesterville, ON"
3,1.0,"Allison, Mr. Hudson Joshua Creighton",male,30.000000,1.0,2.0,113781,151.5500,C22 C26,S,13,"Montreal, PQ / Chesterville, ON"
4,1.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.000000,1.0,2.0,113781,151.5500,C22 C26,S,13,"Montreal, PQ / Chesterville, ON"
...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3.0,"Zabour, Miss. Hileni",female,14.500000,1.0,0.0,2665,14.4542,C23 C25 C27,C,13,"New York, NY"
1305,3.0,"Zabour, Miss. Thamine",female,29.881135,1.0,0.0,2665,14.4542,C23 C25 C27,C,13,"New York, NY"
1306,3.0,"Zakarian, Mr. Mapriededer",male,26.500000,0.0,0.0,2656,7.2250,C23 C25 C27,C,13,"New York, NY"
1307,3.0,"Zakarian, Mr. Ortin",male,27.000000,0.0,0.0,2670,7.2250,C23 C25 C27,C,13,"New York, NY"
1308,3.0,"Zimmerman, Mr. Leo",male,29.000000,0.0,0.0,315082,7.8750,C23 C25 C27,S,13,"New York, NY"